<!DOCTYPE html>
<html lang="en">

<head>
  <title>AddPlate</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/add1.css')}}" />
  <!--  BOOTSTRAP CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
  <!-- BOOTSTRAP JavaScript  -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
  <!-- search JAVASCRIPT -->
  <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
  <!-- search-sort- JAVASCRIPT -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

  <!-- DATATABLE  -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">

  <link rel="stylesheet" href="../static/css/add.css" />
</head>

<body>
  <div class="container">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand text-light">LicenseCheck</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link active px-3" href="{{url_for('analytics')}}">Analytics</a>
          <a class="nav-link active px-3" href="{{url_for('logout')}}">Logout</a>
        </nav>
      </div>
    </header>
  </div>

  <div class="container p-5">
    <form class="form-inline" action="/savedetails1" method="POST" id="add">
      <div class="d-flex justify-content-around">
        <h2 class="text-light">Add licensePlate</h2>
        <div class="form-group w-50 p-3">
          <input type="text" class="form-control" id="name" placeholder="Name" name="Name" />
        </div>
        <div class="form-group w-50 p-3">
          <input type="text" class="form-control" id="address" placeholder="Enter Address" name="Address" />
        </div>
        <div class="form-group w-50 p-3">
          <input type="text" class="form-control" minlength="10" id="phonenumber" placeholder="Enter Phone Number"
            name="Phone Number" />
        </div>
        <div class="form-group w-50 p-3">
          <input type="text" class="form-control" id="licenseplate" placeholder="Enter Plate Number"
            name="licenseplate" />
        </div>
        <button type="submit" class="btn btn-muted border border-dark rounded-circle p-2 mt-3 h-25 mx-1">
          ➕
        </button>
        <button type="submit" formaction="/update1" method="POST" class="btn btn-muted border border-dark rounded-circle p-2 h-25 mt-3 mx-1">
          ✒️
        </button>
        <button type="submit" formaction="/search1" method="POST" class="btn btn-muted border border-dark rounded-circle p-2 h-25 mt-3 mx-1">
          🔍
        </button>
      </div>
    </form>
  </div>
  <div class="container d-flex flex-row-reverse">
    <input class="form-control w-25 text-dark" type="text" placeholder="Global Search" id="myInput" />
    <button id="restore" style="background-color: transparent;" class="btn p-0 mx-3">🔄</button>
  </div>
  <div class="container pt-5">
    <table id="example" class="table table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Address</th>
          <th scope="col">Phone Number</th>
          <th scope="col">license Plate</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody id="myTable">
        {% for row in rows %}
        {% if row['isdeleted'] != '1' %}
        <tr class="tr">
          <th scope="row">{{row['id']}}</th>
          <td>{{row['name']}}</td>
          <td>{{row['address']}}</td>
          <td>{{row['phone']}}</td>
          <td>{{row['platenumber']}}</td>
          <td><i id="{{row['platenumber']}}">❌</i></td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
  <script>
$(document).ready(function () {
  $("#myInput").on("keyup", function () {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function () {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
  </script>
</body>
<script src="../static/js/scripts.js"></script>

</html>